### 정렬
- 데이터를 특정한 기준에 따라서 순서대로 나열하는 것
- 대표적인 정렬 알고리즘: 선택 정렬, 삽입 정렬, 퀵 정렬, 개수 정렬


#### 1. 선택 정렬
- 매번 가장 작은 것을 선택

#### 2. 삽입 정렬
- 특정한 데이터를 적절한 위치에 삽입

#### 3. 퀵 정렬
- 기준 데이터를 설정하고 그 기준보다 큰 데이터와 작은 데이터의 위치를 바꾸는 방법
- 가장 기본적인 퀵 정렬은 첫 번쨰 데이터를 기준 데이터(Pivot)으로 설정함.

#### 4. 계수 정렬
- 특정한 조건이 부합할 때만 사용할 수 있지만 매우 빠르게 동작하는 정렬 알고리즘
- 계수 정렬은 데이터의 크기 범위가 제한되어 정수 형태로 표현할 수 있을 때 사용 가능함.

***

### 위에서 아래로

입력 조건
- 첫째 줄에 수열에 속해 있는 수의 개수 N이 주어진다. (1<= N <= 500)
- 둘째 줄부터 N + 1번째 줄까지 N개의 수가 입력된다. 수의 범위는 1 이상 100,000 이하의 자연수이다.

출력 조건
- 입력으로 주어진 수열이 내림차순으로 정렬된 결과를 공백으로 구분하여 출력한다. 동일한 수의 순서는 자유롭게 출력해도 괜찮다.

In [1]:
# N을 입력받기
n = int(input())

# N개의 정수를 입력받아 리스트에 저장
a = []
for _ in range(n):
  a.append(int(input()))

# 정렬 수행
a = sorted(a, reverse = True)

# 출력
for i in a:
  print(i, end = ' ')

3
15
27
12
27 15 12

***

### 성적이 낮은 순서로 학생 출력하기

입력 조건
- 첫 번째 줄에 학생의 수 개수 N이 주어진다. (1<= N <= 100,000)
- 두 번째 줄부터 N + 1번째 줄에는 학생의 이름을 나타내는 문자열 A와 학생의 성적을 나타내는 점수 B가 공백으로 구분되어 입력된다. 문자열 A의 길이와 학생의 성적은 100 이하의 자연수이다.

출력 조건
- 모든 학생의 이름을 성적이 낮은 순서대로 출력한다. 성적이 동일한 학생들의 순서는 자유롭게 출력해도 괜찮다.

In [2]:
ㅎ# 학생 수 입력 받기
n = int(input())

# 빈 딕셔너리를 선언해 학생의 이름을 key로, 성적을 value로 저장할 준비
student = {}

# 학생 수 만큼 반복하여 이름과 성적을 입력받아 'student' 딕셔너리에 저장
for _ in range(n):
  name, score = input().split()
  score = int(score)
  student[name] = score

# student 딕셔너리를 성적을 기준으로 오름차순 정렬
# items()를 사용하여 딕셔너리의 키-값 쌍을 튜플로 반환하고,
# key 매개변수에는 람다 함수를 활용하여 정렬 기준을 설정
student2 = sorted(student.items(), key = lambda x : x[1])

# key만 뽑기 위해 dict로 변환
student2 = dict(student2)

#뽑은 key만 list 생성
student_list = list(student2.keys())

# 성적이 낮은 순으로 이름 출력
for i in student_list:
  print(i, end= ' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [3]:
# N을 입력받기
n = int(input())

# N명의 학생 정보를 입력받아 리스트에 저장
array = []
for i in range(n):
  input_data = input().split()
  # 이름은 문자열 그대로, 점수는 정수형으로 변환하여 저장
  array.append((input_data[0], int(input_data[1])))

# 키를 이용하여, 점수를 기준으로 정렬
array = sorted(array, key = lambda student: student[1])

# 출력
for student in array:
  print(student[0], end = ' ')

2
홍길동 95
이순신 77
이순신 홍길동

***

### 두 배열의 원소 교체

입력 조건
- 첫 번째 줄에 N, K가 공백으로 구분되어 입력된다. (1<= N <= 100,000, 0 <= K <= N)
- 두 번째 줄에 배열 A의 원소들이 공백으로 구분되어 입력된다. 모든 원소는 10,000,000보다 작은 자연수이다.
- 세 번째 줄에 배열 B의 원소들이 공백으로 구분되어 입력된다. 모든 원소는 10,000,000보다 작은 자연수이다.

출력 조건
- 최대 K번의 바꿔치기 연산을 수행하여 만들 수 있는 배열 A의 모든 원소의 합의 최댓값을 출력한다.

In [ ]:
n, k = map(int, input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse = True)

# 첫 번째 인덱스부터 확인하며, 두 배열의 원소를 최대 K번 확인
for i in range(k):
  # A의 원소가 B의 원소보다 작은 경우
  if a[i] < b[i]:
    # 두 원소 교체
    a[i], b[i] = b[i], a[i]
  else:   # A의 원소가 B의 원소보다 크거나 같을 때, 반복문 탈출
    break

# 배열 A의 모든 원소의 합 출력
print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26